.about {
  display: flex;
}

.img-container {
  width: 40%;
}

.img-container img {
  width: 100%;
}

.about-me {
  width: 60%;
  padding: 5%;
}

.about-me a {
  color: rgb(255,150,150);
}

.about-me h1 {
  margin: 0;
}
