.about {
  display: flex;
}

.img-container {
  width: 40%;
}

.img-container img {
  width: 100%;
}

.about-me {
  width: 60%;
  padding: 5%;
}

.about-me a {
  color: orange;
  -webkit-transition: color 1s; /* Safari */
  transition: color 1s;
}

.about-me a:hover {
  color: orange;
}

.about-me h1 {
  margin: 0;
  color: orange;
  font-size: 48px;
}

.about-me ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.about-me li {
  margin-right: 5%;
}

@media only screen and (max-width: 756px) {
  .img-container {
    display: none;
  }

  .about-me {
    width: 100%;
    padding: 5%;
  }

  .about-me ul {
    justify-content: space-between;
  }
}
