.hero {
  height: 100vh;
  background: linear-gradient(-45deg, #ffa500, #ffaab9, #ffa500, #ffaab9);
	background-size: 400% 400%;
	-webkit-animation: gradient-ani 7s ease infinite;
	-moz-animation: gradient-ani 7s ease infinite;
	animation: gradient-ani 7s ease infinite;
}

@-webkit-keyframes gradient-ani {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradient-ani {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradient-ani {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70%;
  width: 50%;
  color: #fff;
  font-size: 12px;
  -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);
}

.test {
  margin: 20px;
}

.down {
  position: absolute;
  left: 50%;
  top: 90%;
  color: white;
  font-size: 22px;
}

@media only screen and (max-width: 756px) {
    .header {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 14px;
      top: 50%;
    }
}

@media only screen and (max-width: 546px) {
    .header {
      width: 100%;
      font-size: 12px;
    }
}
