.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-section {
  /* background-color: #ffdfe4; */
}

.work-section-title {
  padding: 5%;
	color: orange;
	font-size: 48px;
}
